<!-- First Column -->
<div class="firstColumn">
	<form action="">
		<label>First name</label><input type="text" id="firstname" />
		<label>Last name</label><input type="text" id="lastname" />
		<label>Email address:</label><input type="text" id="email" />
		<label>Phone:</label><input type="text" id="phone" />
		<label>Questions/Comments:</label><input type="text" id="comments" />
	</form>
</div>

<%if @layoutType == 'twoColumns' || @layoutType == 'sideColumn'%>
<!-- Second Column -->
<div class="secondColumn">
	<h2>contact information</h2>
</div>
<%end%>
