<!-- First Column -->
<div>
	<form action="">
		<label>Full name</label><input type="text" id="fullname" />
		<label>E-mail</label><input type="text" id="email" />
	</form>
</div>

<%if @layoutType == 'twoColumns' || @layoutType == 'sideColumn'%>
<!-- Second Column -->
<div class="<%=@layoutType%>">
	second column
</div>
<%end%>
