<!-- First Column -->
<div class="firstColumn">
	First Column
</div>

<%if @layoutType == 'twoColumns' || @layoutType == 'sideColumn'%>
<!-- Second Column -->
<div class="secondColumn">
	Second Column
</div>
<%end%>
